In [16]:
import pandas as pd
df = pd.read_csv('tally_cab.csv')
print(df)

   Distance    Fare
0       4.5   18.00
1      26.7   73.75
2       6.7   23.00
3      16.4   56.00
4      32.7   83.25
5       5.7   17.50
6      77.0  190.50
7       8.3   19.65

In [13]:
import pandas as pd
df = pd.read_excel('tally_cab.xlsx')
print(df)

   Distance    Fare
0       4.5   18.00
1      26.7   73.75
2       6.7   23.00
3      16.4   56.00
4      32.7   83.25
5       5.7   17.50
6      77.0  190.50
7       8.3   19.65

In [14]:
import pandas as pd
df = pd.read_excel('marks.xlsx')
print(df)

      SUB/SEM  SUBJECT 1  SUBJECT 2  SUBJECT 3  SUBJECT 4  SUBJECT 5  \
0  SEMESTER 1         88         73         92         68         75
1  SEMESTER 2         88         93        100         72         94
2  SEMESTER 3         94         90         90         98         92

   SUBJECT 6  SUBJECT 7  SUBJECT 8
0         66        NaN        NaN
1         94       95.0        NaN
2         72       55.0       89.0

In [15]:
import pandas as pd
df = pd.read_csv('mark.csv')
print(df)

      SUB/SEM  SUBJECT 1  SUBJECT 2  SUBJECT 3  SUBJECT 4  SUBJECT 5  \
0  SEMESTER 1         88         73         92         68         75
1  SEMESTER 2         88         93        100         72         94
2  SEMESTER 3         94         90         90         98         92

   SUBJECT 6  SUBJECT 7  SUBJECT 8
0         66        NaN        NaN
1         94       95.0        NaN
2         72       55.0       89.0